body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

strong {
    color: #22d4fd;
}

.stack {
    color: #6cf5b3;
    text-decoration: solid;
}

.links {
    margin-top: 20px;
}

.links a {
    color: #F5946C;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.1rem;
}

.links a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}